@import "tailwindcss";

body {
  @apply bg-[#000101] text-primary font-poppins;
}

@theme {
  --color-primary: #f8f8ff;
  --color-secondary: #0e7490;
  --color-third: #adb5bd;
  --color-bg: #10141e;
  --color-bg-secondary: #000101;

}
