@import "tailwindcss";

body {
  @apply bg-[#000101] text-primary;
}

@theme {
  --color-primary: #f8f8ff;
  --color-secondary: #0e7490;
  --color-third: #adb5bd;
  --color-bg: #10141e;
  --color-bg-secondary: #000101;

}

/* mobile*/
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 20px;
}

/* tablet */
@media (min-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 36px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 48px;
  }
}
